@import url(fonts.css);

.navbar-brand {
    font-family: 'Raleway';
    font-weight: 1000;
    font-size: xx-large;
    text-transform:uppercase;
    padding:1.5rem; 
    color:#FFFFFF;
    position:relative; bottom:20px;
    background: linear-gradient(90deg, #00FF00 0%, #FF00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.head_area .main-menu .nav-item .nav-link{
    font-family: 'Raleway';
    font-size:x-large;
    font-weight: 550;
    position:relative; bottom:20px;
    text-transform:uppercase;
    padding:1.5rem;
    color:#FFFFFF;
}

.nav-item a:hover{
    background: linear-gradient(90deg, #00FF00 0%, #FF00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.title-text{
    font-family: 'Raleway';
    font-style: italic;
    color:#FFFFFF;
} 

.background {    
    background: url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80') no-repeat center fixed;     
    background-size: cover;
}

